<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Shop Stop App
    link(rel="stylesheet", href="/content/styles/site.min.css")
    link(rel="icon", href="/content/images/favicon.ico")
body
  header
      nav.nav
        ul
          li
            a(href='/') Home page
          li
            a(href='/product/add') Add product
          li
            a(href='/category/add') Add category
          li.delimeter
          li.align-right
            a(href='/user/register') Register
          li.align-right
            a(href='/user/login') Login
  main
    block content
  footer
    p &copy;ShopStop